{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {{ parent() }}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <a href="{{ path('index') }}">
                    <h1 class="jumbotron-heading">Serials</h1>
                </a>
                {#<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>#}
                {#<p>#}
                    {#<a href="#" class="btn btn-primary my-2">Main call to action</a>#}
                    {#<a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
                {#</p>#}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="float-lg-right" id="add_serial"><i class="fas fa-plus fa-5x" style="color: red"></i></div>
                    <div class="center hideform">
                        <button id="close" style="float: right;">X</button>
                            Name:<br>
                            <input type="text" name="name" value="Name">
                            <br>
                            Desription:<br>
                            <input type="text" name="short_desription" value="Desription">
                            <br><br>
                            <div class="float-lg-right" id="save_serial">
                                <i class="fas fa-check fa-5x" style="color: greenyellow">

                                </i>
                            </div>
                    </div>
                {% endif %}
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row" id="main_content">

                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/index/js/index.min.js') }}"></script>
{%  endblock %}
